In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('HousePrice.csv')
data.head(5)

,crime,zone,indus,river,nox,room,age,dist,highway,tax,ptratio,black,lstat,medv
0,10.0623,0.0,18.1,0,0.584,6.833,94.3,2.0882,24,666,20.2,81.33,19.69,14.1
1,10.6718,0.0,18.1,0,0.740,6.459,94.8,1.9879,24,666,20.2,43.06,23.98,11.8
2,11.1604,0.0,18.1,0,0.740,6.629,94.6,2.1247,24,666,20.2,109.85,23.27,13.4
3,12.0482,0.0,18.1,0,0.614,5.648,87.6,1.9512,24,666,20.2,291.55,14.10,20.8
4,12.2472,0.0,18.1,0,0.584,5.837,59.7,1.9976,24,666,20.2,24.65,15.69,10.2

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn import metrics

In [4]:
X=data[data.columns[:13]]
y=data[data.columns[13]]
#X.head(5)
#y.head(5)

Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,random_state=42,test_size = 0.3)

In [5]:
def PolynomialRegression(degree=2,**kwargs):
    return make_pipeline(PolynomialFeatures(degree),LinearRegression(**kwargs))

poly = PolynomialRegression()
poly.fit(Xtrain,ytrain)

ytrain_pred = poly.predict(Xtrain)
ytest_pred = poly.predict(Xtest)

In [6]:
print('Training set R2 is %1.2f'%metrics.r2_score(ytrain,ytrain_pred))
print('Testing set R2 is %1.2f'%metrics.r2_score(ytest,ytest_pred))

Training set R2 is 0.92
Testing set R2 is 0.83